*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#7B2FF7,
#F107A3
);

}

.auth-container{

width:400px;

padding:30px;

background:
rgba(255,255,255,.1);

backdrop-filter:
blur(20px);

border-radius:20px;

color:white;

}

.auth-container h1{

text-align:center;

margin-bottom:20px;

}

input{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:10px;

}

button{

width:100%;

padding:12px;

margin-top:15px;

border:none;

border-radius:10px;

cursor:pointer;

background:
linear-gradient(
135deg,
#00D4FF,
#00FF88
);

font-weight:bold;

}

a{
color:white;
}

.options{
margin-top:10px;
}

